<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends 'events/base.html' %}
{% block content %}

<body>
    {% if user.is_authenticated %}

        <h1>Add Events</h1>
        <br>
        {% if submitted %}
        Your Event was submitted SUCCESSFULLY!!
        {% else %}
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
        {% endif %}
    {% else %}
        <h1>You must be logged in to view this page</h1>
        <a href="{% url 'login' %}">Login Here</a>
    {% endif %}
</body>
{% endblock %}

</html>