<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'events/base.html' %}
{% block content %}

<body>
    <h1>Events Lists</h1>
    {% for event in events_list %}
        {% if  event.approved %}
        <div class="card">
            <div class="card-header">{{ event }}</div>
            <div class="card-body">
                <h5 class="card-title">Venue: {{ event.venue}} </h5>
                <p class="card-text">
                    <ul>
                        <li>{{ event.name }}</li>
                        <li>Days till event: {{event.Days_till}}</li>
                        <li>{{ event.event_date }}</li>
                        <li>{{ event.venue }}</li>
                        <li>{{ event.manager }}</li>
                        <li>{{ event.description }}</li>
                        <li>{{ event.approved }}</li>
                        {% for user in event.attendees.all %}
                        <li>{{ user }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
            {% if user.is_authenticated %}
                {% if user == event.manager %}
                    <div class="card-footer text-muted">
                        <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary">Update Event</a>
                        <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger">Delete Event</a>
                    </div>
                {% endif %}
            {% endif %}
        </div><br>
        {% endif %}
    {% endfor %}
</body>
{% endblock %}

</html>