<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends 'events/base.html' %}
{% block content %}

<body>

        {% if searched %}
        <h1>You searched For {{ searched }} </h1>
        <br>
        {% for venue in venues %}
        <a href="{}">{{ venue }} </a>
        {% endfor %}
        {% else %}
        <h1>You Forgot To search for a venue..</h1>
        {% endif %}

</body>
{% endblock %}

</html>